{% extends 'base.html' %}
{% block extra_css %}
    <style>
        html{ height:100%;}
        body{ height:100%; padding: 0; margin: 0;}
        .mybox{
            height:100%;
            display: flex;
            justify-content: center;
            {#align-items: center;#}
            > div {
                margin-top: 10vh;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <div class="mybox">
        <div>
            <h1>회원가입</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>회원가입</button>
            </form>
        </div>
    </div>

{% endblock %}