{% extends 'base.html' %}
{% block content %}
<div style="display:flex;">
    <h1>TodoList</h1>
    <p style="text-align: right; margin-left: auto;">
        <a class="btn btn-success opacity-50" href="{% url 'todo:create' %}">생성</a>
    </p>
</div>
<table class="table table-danger table-striped">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">description</th>
            <th scope="col">start_date</th>
            <th scope="col">end_date</th>
            <th scope="col">completed</th>
        </tr>
    </thead>
    <tbody>
        {% for todo in object_list %}
        <tr>
            <th scope="row">{{ todo.id }}</th>
            <td><a href="{% url 'todo:info' todo.id %}">{{ todo.title }}</a></td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.start_date }}</td>
            <td>{{ todo.end_date }}</td>
            {% if todo.is_completed %}
            <td>✅</td>
            {% else %}
            <td>❌</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{#    검색 기능#}
<form method="GET">
    <div class="input-group mb-3" style="width: 500px; margin:auto; margin-top:50px;">
      <input name="q" type="text" class="form-control" value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}" placeholder="검색어를 입력하세요" aria-label="검색어를 입력하세요" aria-describedby="search_btn">
      <button class="btn btn-secondary opacity-50" type="submit" id="search_btn">검색</button>
    </div>
</form>

{% include 'pagination.html' %}

{% endblock %}